<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <h1>Keyword: {{ value }}, catogary: {{ value1 }}</h1>
                <p>User choose: {{ value2 }}, bot select: {{ value3 }}</p>
                <p>Web crawling: {{ val }}</p>
                <li><a href="/dash/linechart">Dashboard line</a></li>
                <li><a href="/dash/piechart"> Dashboard pie </a></li>
                <li><a href="/dash/chart3D"> Dashboard 3D </a></li>
            </ul>
        </div>
    </div>
</nav>
